<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}/">{{ lang.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		    	<li><a href="/">{{ lang.text.home }}</a></li>
		    	{% if page.lang == 'en' %}
		    	<li><a href="/en/posts">{{ lang.text.posts }}</a></li>
		    	<li><a href="/en/cv">{{ lang.text.cv }}</a></li>
		    	{% else %}
		    	<li><a href="/posts">{{ lang.text.posts }}</a></li>
		    	<li><a href="/cv">{{ lang.text.cv }}</a></li>
		    	{% endif %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->