@font-face {
 font-family: 'NanumSquare';
 src: url(/webfont/NanumSquareR.eot);
 src: url(/webfont/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(/webfont/NanumSquareR.woff) format('woff'),
      url(/webfont/NanumSquareR.ttf) format('truetype');
}

@font-face {
 font-family: 'NanumSquareBold';
 src: url(/webfont/NanumSquareB.eot);
 src: url(/webfont/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(/webfont/NanumSquareB.woff) format('woff'),
      url(/webfont/NanumSquareB.ttf) format('truetype');
}
